.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-flow: row;
	padding: 0 1rem 1rem 1rem;
	gap: 1rem;
	min-height: calc(100vh - 134px);

	@media (min-width: 768px) {
		padding: 0 2.5rem 2.5rem 2.5rem;
		gap: 2.5rem;
	}
}
