@use 'styles/abstracts/variables' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

$sizes: (
	'one': 1,
	'two': 2,
	'three': 3,
	'four': 4,
	'five': 5,
	'six': 6,
	'seven': 7,
	'eight': 8,
	'nine': 9,
	'ten': 10,
	'eleven': 11,
	'twelve': 12,
);

@each $size, $value in $sizes {
	.#{$size} {
		grid-column: span $value;
	}
}

$backgrounds: (
	'primary': $color-primary-300,
	'secondary': $color-secondary-200,
	'tertiary': $color-tertiary-200,
	'dark': $color-neutral-600,
);

@each $background, $color in $backgrounds {
	.#{$background} {
		background: $color;
	}
}

$paddings: (
	'none': 0,
	'small': 0.5rem,
	'medium': 1rem,
	'large': 1.5rem,
	'x-large': 2.5rem,
);

@each $padding, $value in $paddings {
	.padding--#{$padding} {
		padding: $value;
	}
}

$gaps: (
	'none': 0,
	'small': 0.5rem,
	'medium': 1rem,
	'large': 1.5rem,
	'x-large': 2.5rem,
);

@each $gap, $value in $gaps {
	.gap--#{$gap} {
		gap: $value;
	}
}
