.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 2.5rem;
	gap: 2.5rem;

	@media (min-width: 350px) {
		padding: 1rem;
		grid-template-columns: repeat(1, 1fr);
	}

	@media (min-width: 768px) {
		padding: 2.5rem;
		grid-template-columns: repeat(4, 1fr);
	}

	@media (min-width: 1000px) {
		grid-template-columns: repeat(8, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(12, 1fr);
	}
}
