.image {
  border: 1px solid var(--color-core-brand-200);
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.badgeList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}