.wrapper {
	display: flex;
	flex-direction: column;
	background: var(--color-core-tertiary-200);
	text-decoration: none;
	transition: 150ms all ease-in-out;
	overflow: hidden;
	cursor: url('/emojis/saxophone.png'), pointer;
}

.wrapper h3 {
	color: var(--color-core-primary-300);
	font-family: var(--typography-font-family-headline);
	font-size: var(--typography-font-size-headline-03);
}

.wrapper p {
	color: var(--color-core-neutral-600);
	font-family: var(--typography-font-family-body);
	font-size: var(--typography-font-size-body-lead);
}

.wrapper:hover {
	background: var(--color-core-primary-300);
}

.wrapper:hover h3,
.wrapper:hover p {
	color: var(--color-core-neutral-100);
}

.wrapper:hover .imageWrapper img {
	filter: grayscale(0);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2.5rem;
}

.imageWrapper {
	height: 400px;
	width: 100%;
	position: relative;
	transition: 150ms all ease-in-out;
}

.imageWrapper img {
	object-fit: cover;
	filter: grayscale(1);
}
