@use 'styles/abstracts/variables' as *;

.text-arrow {
	color: $color-primary-300;
	font-family: $typography-font-family-body;
	font-size: 1rem;
	text-decoration: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	gap: 0.5rem;
	background: none;
	border: 1px solid $color-primary-300;
	border-radius: 20px;
	padding: 0 1rem;

	&:hover {
		cursor: pointer;
	}

	svg {
		transition: all 0.15s ease-in-out;
		position: relative;
		left: 0;
		transform: rotate(-0.25turn);

		path {
			fill: $color-primary-300;
		}
	}

	&:hover {
		svg {
			left: 0.5rem;
		}
	}
}

$styles: (
	'primary': $color-primary-300,
	'neutral': $color-neutral-600,
	'dark': $color-neutral-100,
);

@each $style, $color in $styles {
	.style--#{$style} {
		border-color: $color;
		color: $color;

		svg path {
			fill: $color;
		}
	}
}
