$variants: (
	'primary' $color-primary-300 $color-primary-300 none,
	'secondary' $color-neutral-600 $color-neutral-600 transparent,
	'tertiary' $color-tertiary-500 $color-tertiary-500 transparent,
	'inverse' $color-neutral-600 transparent $color-neutral-100,
);

// Define root badge styling
@mixin badge-base {
	padding: 4px 16px;
	font-family: $typography-font-family-body;
	font-size: 1rem;
	line-height: 1.7;
	font-weight: 400;
	border-radius: 4px;
	letter-spacing: 0.25px;
	width: fit-content;
	height: fit-content;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
}

@each $variant, $color, $border, $background in $variants {
	.#{$variant} {
		@include badge-base;
		color: $color;
		border-color: $border;
		background: $background;
	}
}
