.banner {
	max-width: 100vw;
	padding: 0.25rem 1.5rem;
	background: var(--color-core-secondary-200);
	border-bottom: 1px solid var(--color-semantic-border-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: var(--color-core-neutral-600);
	text-align: center;
	transition: background 0.15s ease-in-out;
	text-decoration: none;

	&:hover {
		background: var(--color-core-secondary-300);
	}

	@media (min-width: 768px) {
		padding: 0 2.5rem;
		justify-content: space-between;
	}
}
