.wrapper {
	background: var(--color-core-neutral-100);
	padding: 2.5rem;
	margin: 2.5rem 0 0 0;
}

.blockquote {
	font-family: var(--typography-font-family-body);
	font-size: var(--typography-font-size-body-lead);
	line-height: var(--typography-line-height-body);
	color: var(--color-core-primary-400);
}
