.eventItem {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background: var(--color-core-tertiary-400);
	padding: 2rem;
	text-decoration: none;
	transition: all 0.1s ease-in-out;

	&:hover {
		background: var(--color-core-primary-300);
		transform: translateY(-4px);

		& > * {
			color: var(--color-core-neutral-100);
		}
	}
}
