.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	p {
		font-family: $typography-font-family-body;
		font-size: $typography-font-size-body-secondary;
		color: $color-neutral-100;
	}
}

.event {
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem;
	background: transparent;
	transition: 100ms all ease-in-out;
	border-radius: 5px;

	&:hover {
		background: $color-primary-300;
	}
}

.title {
	font-family: $typography-font-family-body;
	font-size: $typography-font-size-body-secondary;
	color: $color-neutral-100;
}

.date {
	font-family: $typography-font-family-body;
	font-size: $typography-font-size-body-secondary;
	color: $color-neutral-100;
}

.noEvents {
	font-family: $typography-font-family-body;
	font-size: $typography-font-size-body-secondary;
	color: $color-neutral-100;
}
