@font-face {
	font-family: 'Uxum Grotesque';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/uxum-grotesque/UxumGrotesque-Regular.woff') format('woff'),
		url('/fonts/uxum-grotesque/UxumGrotesque-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Uxum Grotesque';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/uxum-grotesque/UxumGrotesque-Bold.woff') format('woff'),
		url('/fonts/uxum-grotesque/UxumGrotesque-Bold.woff') format('woff2');
}

@font-face {
	font-family: 'Uxum Grotesque';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/uxum-grotesque/UxumGrotesque-Medium.woff') format('woff'),
		url('/fonts/uxum-grotesque/UxumGrotesque-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Neue Haas Unica';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/neue-haas-unica/NeueHaasUnicaPro-Regular.woff')
			format('woff'),
		url('/fonts/neue-haas-unica/NeueHaasUnicaPro-Regular.woff2')
			format('woff2');
}

@font-face {
	font-family: 'Neue Haas Unica';
	font-weight: bold;
	font-style: normal;
	src: url('/fonts/neue-haas-unica/NeueHaasUnicaPro-Bold.woff') format('woff'),
		url('/fonts/neue-haas-unica/NeueHaasUnicaPro-Bold.woff2')
			format('woff2');
}

@font-face {
	font-family: 'Neue Haas Unica';
	font-weight: normal;
	font-style: italic;
	src: url('/fonts/neue-haas-unica/NeueHaasUnicaPro-Italic.woff')
			format('woff'),
		url('/fonts/neue-haas-unica/NeueHaasUnicaPro-Italic.woff2')
			format('woff2');
}

@font-face {
	font-family: 'Fira Code';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/fira-code/FiraCode-regular.woff') format('woff'),
		url('/fonts/fira-code/FiraCode-regular.woff2') format('woff2');
}
