// Flex layouts

.flex--row {
	display: flex;
	flex-direction: row;
}

.flex--column {
	display: flex;
	flex-direction: column;
}

// Justification

.justify--start {
	justify-content: start;
}
.justify--center {
	justify-content: center;
}
.justify--end {
	justify-content: end;
}
.justify--space-between {
	justify-content: space-between;
}
.justify--space-around {
	justify-content: space-around;
}

// Alignment

.align--start {
	align-items: start;
}
.align--center {
	align-items: center;
}
.align--end {
	align-items: end;
}
.align--space-between {
	align-items: space-between;
}
.align--space-around {
	align-items: space-around;
}

// Gap

.gap--small {
	gap: 1rem;
}
.gap--medium {
	gap: 2rem;
}
.gap--large {
	gap: 3rem;
}
