@use 'styles/abstracts/variables' as *;

.heroWrapper {
    max-width: 100vw;
	position: relative;
	top: -130px;
	margin-bottom: -130px;

	span {
		height: 100%;
	}

	@media (max-width: 1000px) {
		top: -164px;
		margin-bottom: -164px;
	}

	@media (max-width: 550px) {
		top: -130px;
		margin-bottom: -130px;
	}
}