/* Full width image wrapper - spans entire grid */
.wrapper {
	grid-column: 1 / span 3;
	position: relative;
	width: 100%;
	height: 500px;
	margin: 1rem 0;

	@media (max-width: 768px) {
		height: 300px;
	}
}

.fullWidthImage {
	object-fit: cover;
}
