@use 'styles/abstracts/variables' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background: $color-tertiary-200;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	text-align: center;
	padding: 2rem;

	&:hover {
		& > * {
			color: $color-neutral-100;
		}
		background: $color-primary-300;
		transform: translateY(-4px);
	}
}
