.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60vh;
	padding: 2rem;
}

.content {
	max-width: 400px;
	width: 100%;
}

.header {
	margin-bottom: 2rem;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.error {
	color: var(--color-core-tertiary-500);
	font-weight: bold;
	text-align: center;
}
