.wrapper {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.imageWrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.image {
	object-fit: cover;
}
