.text-arrow {
	color: var(--color-core-primary-300);
	font-family: var(--typography-font-family-body);
	font-size: 1rem;
	text-decoration: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	gap: 0.5rem;
	background: none;
	border: 1px solid var(--color-core-primary-300);
	border-radius: 20px;
	padding: 0 1rem;

	&:hover {
		cursor: pointer;
	}

	svg {
		transition: all 0.15s ease-in-out;
		position: relative;
		left: 0;
		transform: rotate(-0.25turn);

		path {
			fill: var(--color-core-primary-300);
		}
	}

	&:hover {
		svg {
			left: 0.25rem;
		}
	}
}

$styles: (
	'primary' var(--color-core-primary-300) var(--color-core-neutral-100),
	'neutral' var(--color-core-neutral-600) var(--color-core-neutral-100),
	'dark' var(--color-core-neutral-100) var(--color-core-neutral-600)
);

@each $style, $color, $color-inverse in $styles {
	.style--#{$style} {
		border-color: $color;
		color: $color;
		background: transparent;

		svg path {
			fill: $color;
		}

		&:hover {
			background: $color;
			color: $color-inverse;

			svg path {
				fill: $color-inverse;
			}
		}
	}
}
