@use 'styles/abstracts/variables' as *;

.outer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-content: center;
	margin: 1rem;
	gap: 2.5rem;

	@media (min-width: 768px) {
		margin: 2.5rem;
		gap: 2.5rem;
	}
}
