.nowPlaying {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 5px 16px 5px 8px;
	background-color: var(--color-semantic-surface-light);
	border-radius: 9999px;
	border: 1px solid var(--color-semantic-border-brand);
	text-decoration: none;
	color: inherit;
	transition: background-color 0.2s ease;
}

.nowPlaying:hover {
	background-color: var(--color-core-primary-100)
}

.albumArt {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid var(--color-core-neutral-300);
	object-fit: cover;
	flex-shrink: 0;
	animation: rotate 3s linear infinite;
}

.trackInfo {
	display: flex;
	flex-direction: column;
	gap: 0.0625rem;
	min-width: 0;
	flex: 1;
}

.trackName {
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--color-semantic-foreground-secondary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.artistName {
	font-size: 0.625rem;
	color: var(--color-semantic-foreground-secondary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.playingBars {
	display: flex;
	align-items: flex-end;
	gap: 2px;
	height: 16px;
	flex-shrink: 0;
}

.bar {
	width: 3px;
	background-color: var(--color-core-primary-300);
	border-radius: 1px;
	animation: playingBar 1.5s ease-in-out infinite;
}

.bar:nth-child(1) {
	animation-delay: 0s;
}

.bar:nth-child(2) {
	animation-delay: 0.2s;
}

.bar:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes playingBar {

	0%,
	100% {
		height: 4px;
	}

	50% {
		height: 16px;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.nowPlaying {
		display: none;
	}
}