.statsWrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.statsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 2rem;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.titleWrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}