.statsWrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 100%;
}

.statsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
	gap: 2rem;
	max-width: 100%;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 100%;
}

.titleWrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}