@use 'styles/abstracts/variables' as *;

.avatar {
    box-shadow: 0px 0px 12px rgba(22, 15, 41, 0.15);
    border: 3px solid $color-primary-300;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    cursor: url('/emojis/cool.png'), pointer;
}