@use 'styles/abstracts/variables' as *;

$types: (
	'primary' $color-primary-300,
	'secondary' $color-secondary-400,
	'tertiary' $color-tertiary-500,
	'neutral' $color-neutral-600
);

$style: ('filled', 'outlined');

// Define root badge styling
@mixin badge-base {
	padding: 4px 12px;
	font-family: $typography-font-family-body;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 600;
	border-radius: 14px;
	letter-spacing: 0.25px;
}

@each $type, $color in $types {
	.type_#{$type}--filled {
		@include badge-base;
		color: $color-neutral-100;
		background: $color;
	}
	.type_#{$type}--outlined {
		@include badge-base;
		color: $color;
		background: transparent;
		border: 1px solid $color;
	}
}
