.burger {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 18px;
  border: none;
  color: var(--color-semantic-foreground-inverse);
  background: var(--color-semantic-surface-brand);
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-body-secondary);
  line-height: 28px;
  cursor: pointer;
}

.burger .menuIcon path {
  fill: var(--color-semantic-foreground-inverse);
}

.burger:hover {
  background: var(--color-core-primary-400);
}

.burger:active {
  background: var(--color-core-primary-500);
}

.burgerEmoji {
  font-size: 24px;
  line-height: 24px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}