.navItem {
	font-family: var(--typography-font-family-headline);
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
	color: var(--color-core-primary-300);
	text-decoration: none;
	transition:
			color 150ms cubic-bezier(0.78, 0.01, 0.51, 0.99),
			transform 150ms cubic-bezier(0.78, 0.01, 0.51, 0.99);
	margin: 0.25rem 0;
	display: block;
	transform: none;
	position: relative;
}

.navItem:hover {
	color: var(--color-core-primary-400);
	transform: translateX(-1rem);
}

.navItem:active {
	color: var(--color-core-primary-400);
}

.active {
	color: var(--color-core-primary-400);
	transform: translateX(-2rem);

	&:hover {
		transform: translateX(-2rem);
	}
}

@keyframes fadeIn {
	to {
			opacity: 1;
	}
}

