.link-wrapper {
	display: flex;
	flex-direction: column;
	text-align: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: fit-content;
}

@media (max-width: 768px) {
	.link-wrapper {
		padding: 0;
	}
}