.overlay {
	position: absolute;
	top: 124px;
	left: 0;
	width: 100%;
	height: calc(100vh - 124px);
	padding: 2rem 2.5rem;
	box-sizing: border-box;
	background: var(--color-core-neutral-100);
	z-index: 10;
	overflow: hidden;
}

.overlayHidden {
	composes: overlay;
	visibility: hidden;
}

.overlayVisible {
	composes: overlay;
	visibility: visible;
}

.overlayContent {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
}

.statsWrapper {
	display: none;
}

.moduleContentWrapper {
	display: none;
}

@media (max-width: 768px) {
	.overlay {
		top: 94px;
		height: calc(100vh - 94px);
	}
}

@media (min-width: 950px) {
	.overlayContent {
		flex-direction: row;
		align-items: stretch;
		gap: 10rem;
		justify-content: space-between;
	}

	.statsWrapper {
		display: block;
		flex: 1;
		overflow-y: auto;
		min-height: 0;
	}

	.moduleContentWrapper {
		display: flex;
	}
}