.overlay {
	position: absolute;
	top: 124px;
	left: 0;
	width: 100%;
	height: calc(100vh - 124px);
	padding: 2rem 2.5rem;
	box-sizing: border-box;
	background: var(--color-core-neutral-100);
	z-index: 10;
	overflow: hidden;
}

.overlay-hidden {
	composes: overlay;
	visibility: hidden;
}

.overlay-visible {
	composes: overlay;
	visibility: visible;
}

.overlayContent {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.moduleContentWrapper {
	display: none;
}

@media (max-width: 768px) {
	.overlay {
		top: 94px;
		height: calc(100vh - 94px);
	}
}

@media (min-width: 800px) {
	.overlayContent {
		flex-direction: row;
		gap: 3rem;
		justify-content: space-between;
	}

	.moduleContentWrapper {
		display: flex;
	}
}