.themePicker {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.themeButton {
  display: flex;
  flex-direction: row;
  padding: 6px 8px;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--color-core-neutral-500);
  transition: all 0.1s ease-in-out;
  height: 100%;
}

.themeButton:nth-child(1) {
  border-radius: 18px 4px 4px 18px;
}

.themeButton:nth-child(2) {
  border-radius: 4px;
}

.themeButton:nth-child(3) {
  border-radius: 4px;
}

.themeButton .themeIcon path {
  fill: var(--color-core-neutral-500);
}

.themeButton:hover {
  cursor: pointer;
  background: var(--color-core-neutral-300);
}

.themeButton .buttonText {
  display: none;
}

.current {
  color: var(--color-semantic-foreground-primary);
  background: var(--color-core-neutral-300);
}

.current .themeIcon path {
  fill: var(--color-semantic-foreground-primary);
}

.current:hover {
  background: var(--color-core-neutral-400);
}