@use 'styles/abstracts/variables' as *;

.audioPlayer {
	background: $color-primary-300;
	padding: 1.5rem;
	color: $color-neutral-100;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2.5rem 0;
}

.audioInfo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.title {
		color: $color-neutral-100;
		font-family: $typography-font-family-mono;
		font-size: $typography-font-size-body-lead;
		font-weight: bold;
	}

	.artist {
		color: $color-neutral-300;
		font-family: $typography-font-family-body;
		font-size: $typography-font-size-body-secondary;
	}

	.trackNumber {
		color: $color-primary-500;
		font-family: $typography-font-family-body;
		font-size: $typography-font-size-body-primary;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.75rem;

		svg {
			height: 24px;
			width: 24px;
		}
	}
}

// Controls

.controlsWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.controlButton {
	color: $color-neutral-100;
	background: $color-primary-400;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	transition: 100ms all ease-in-out;

	&:hover {
		cursor: pointer;
		background: $color-primary-500;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		transform: translateY(-1px);
	}
}

.controlButtonSmall {
	@extend .controlButton;
	width: 2rem;
	height: 2rem;
}

.volume {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

	input[type='range'] {
		-webkit-appearance: none;
		height: 4px;
		background: $color-neutral-100;
		border-radius: 4px;
	}

	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: $color-primary-400;
		height: 16px;
		width: 16px;
		border-radius: 16px;
		border: 1px solid $color-primary-500;
		cursor: ew-resize;
		position: relative;
		top: -5px;
	}

	input[type='range']::-webkit-slider-runnable-track {
		height: 4px;
		border-radius: 4px;
		cursor: pointer;
		background: $color-neutral-100;
		box-shadow: none;
	}

	input[type='range']::-moz-range-track {
		height: 4px;
		border-radius: 4px;
		cursor: pointer;
		background: $color-neutral-100;
		box-shadow: none;
	}
}

// ProgressBar

.progress {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.progressBar {
	--range-progress: 0;

	-webkit-appearance: none;
	position: relative;
	background: $color-neutral-100;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	cursor: pointer;
}

/* Input range - firefox */
.progressBar::-moz-range-track {
	position: relative;
	background: $color-neutral-100;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	cursor: pointer;
}

/* played progress length - Chrome & safari*/
.progressBar::before {
	content: '';
	height: 4px;
	background: $color-primary-400;
	width: var(--range-progress);
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
}

/* played progress length - firefox */
.progressBar::-moz-range-progress {
	background: $color-primary-400;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	height: 4px;
}

/* slider thumb - chrome and safari */
.progressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	background-color: $color-primary-400;
	cursor: ew-resize;
	position: relative;

	&:hover {
		background-color: $color-primary-500;
	}
}

/* dragging thumb - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
	transform: scale(1.2);
}

/* slider thumb - firefox */
.progressBar::-moz-range-thumb {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: $color-primary-400;
	cursor: pointer;
	border: transparent;
	position: relative;

	&:hover {
		background-color: $color-primary-500;
	}
}
/* dragging thumb - firefox */
.progressBar:active::-moz-range-thumb {
	transform: scale(1.2);
}
