@use 'styles/abstracts/variables' as *;

.progress {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.progressBar {
	--range-progress: 0;

	-webkit-appearance: none;
	position: relative;
	background: $color-neutral-100;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	cursor: pointer;
}

/* Input range - firefox */
.progressBar::-moz-range-track {
	position: relative;
	background: $color-neutral-100;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	cursor: pointer;
}

/* played progress length - Chrome & safari*/
.progressBar::before {
	content: '';
	height: 4px;
	background: $color-primary-400;
	width: var(--range-progress);
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
}

/* played progress length - firefox */
.progressBar::-moz-range-progress {
	background: $color-primary-400;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	height: 4px;
}

/* slider thumb - chrome and safari */
.progressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	background-color: $color-primary-400;
	cursor: pointer;
	position: relative;

	&:hover {
		background-color: $color-primary-500;
	}
}

/* dragging thumb - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
	transform: scale(1.2);
}

/* slider thumb - firefox */
.progressBar::-moz-range-thumb {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: $color-primary-400;
	cursor: pointer;
	border: transparent;
	position: relative;

	&:hover {
		background-color: $color-primary-500;
	}
}
/* dragging thumb - firefox */
.progressBar:active::-moz-range-thumb {
	transform: scale(1.2);
}
