/* Base styles */

.outer {
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	min-height: 20vh;
	overflow: hidden;
}

.inner {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 300px;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* Justification */

.isJustified {
	justify-content: space-between;
}

/* Interactive */

.isInteractive {
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	text-decoration: none;

	&:hover {
		transform: translateY(-4px);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.075);
		background: var(--color-core-primary-300);
		border-color: var(--color-core-primary-300);

		& > h1,
		& h2,
		& h3,
		& h4,
		& h5,
		& h6,
		& p {
			color: var(--color-core-neutral-100);
		}
	}
}

/* Sizes */

@media (min-width: 350px) {
	.sizeSmall {
		grid-column: span 6;
	}

	.sizeMedium,
	.sizeLarge,
	.sizeXLarge {
		grid-column: span 12;
	}
}

@media (min-with: 768px) {
	.sizeMedium {
		grid-column: span 6;
	}
}

@media (min-width: 1000px) {
	.sizeSmall,
	.sizeMedium {
		grid-column: span 4;
	}
}

@media (min-width: 1200px) {
	.sizeSmall {
		grid-column: span 3;
	}

	.sizeLarge {
		grid-column: span 6;
	}

	.sizeXLarge {
		grid-column: span 8;
	}
}

.sizeFull {
	grid-column: span 12;
}

/* Background */

.primary {
	background: var(--color-core-primary-300);
	border-color: var(--color-core-primary-400);
}

.secondary {
	background: var(--color-core-secondary-200);
	border-color: var(--color-core-secondary-300);
}

.tertiary {
	background: var(--color-core-tertiary-200);
	border-color: var(--color-core-tertiary-300);
}

.dark {
	background: var(--color-core-neutral-600);
	border-color: var(--color-core-neutral-500);
}

.white {
	background: var(--color-core-neutral-100);
	border-color: var(--color-core-neutral-200);
}

/* Padding */

.paddingNone {
	padding: 0;
}

.paddingSmall {
	padding: 0.5rem;
}

.paddingMedium {
	padding: 1rem;
}

.paddingLarge {
	padding: 1.5rem;
}

.paddingXLarge {
	padding: 2.5rem;
}

/* Gap */

.gapNone {
	gap: 0;
}

.gapSmall {
	gap: 0.5rem;
}

.gapMedium {
	gap: 1rem;
}

.gapLarge {
	gap: 1.5rem;
}

.gapXLarge {
	gap: 2.5rem;
}
