.results {
	grid-column: 1 / span 3;
	padding: 2.5rem;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	& h5 {
		color: var(--color-core-neutral-100);
	}

	& div {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
		justify-content: center;
		gap: 2rem;
	}

	@media (max-width: 768px) {
		padding: 1rem;

		& div {
			grid-template-columns: 1fr;
		}
	}
}
