.personalStats {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	width: 100%;
	max-width: 100%;
	padding-bottom: 2.5rem;

	@media (max-width: 768px) {
		grid-column: 1 / -1;
		padding: 0 1rem 2.5rem;
	}
}