$headline-tags: ('mega', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6');
$headline-colors: ('primary', 'secondary', 'light');

$headline-sizes: (
	'mega': (
		'font-size': $typography-font-size-headline-mega,
		'line-height': $typography-line-height-mega-headline,
	),
	'h1': (
		'font-size': $typography-font-size-headline-01,
		'line-height': $typography-line-height-headline,
	),
	'h2': (
		'font-size': $typography-font-size-headline-02,
		'line-height': $typography-line-height-headline,
	),
	'h3': (
		'font-size': $typography-font-size-headline-03,
		'line-height': $typography-line-height-headline,
	),
	'h4': (
		'font-size': $typography-font-size-headline-04,
		'line-height': $typography-line-height-headline,
	),
	'h5': (
		'font-size': $typography-font-size-headline-05,
		'line-height': $typography-line-height-headline,
	),
	'h6': (
		'font-size': $typography-font-size-headline-06,
		'line-height': $typography-line-height-headline,
	),
);

$headline-color-props: (
	'primary': (
		'color': $color-primary-300,
	),
	'secondary': (
		'color': $color-neutral-600,
	),
	'light': (
		'color': $color-neutral-100,
	),
	'dark': (
		'color': $color-neutral-600,
	),
);

@mixin headline-base {
	font-family: $typography-font-family-headline;
	font-weight: bold;
	line-height: $typography-line-height-headline;
	margin: 2rem 0 1rem 0;
}

@each $variant in $headline-tags {
	.#{$variant} {
		@include headline-base;
		font-size: map-get($headline-sizes, $variant, 'font-size');
		line-height: map-get($headline-sizes, $variant, 'line-height');
	}
}

@each $color in $headline-colors {
	.#{$color} {
		color: map-get($headline-color-props, $color, 'color');
	}
}

.collapse {
	padding: 0;
	margin: 0;
}
