$variants: (
	'primary' var(--color-core-primary-300) var(--color-core-primary-400) var(--color-core-primary-500),
	'secondary' var(--color-core-neutral-600) var(--color-core-neutral-500) var(--color-core-neutral-500),
	'tertiary' var(--color-core-neutral-500) var(--color-core-neutral-600) var(--color-core-neutral-600)
);

.link {
	text-decoration: underline;
	font-size: inherit;
	font-family: inherit;
	transition: all 0.15s;
	display: inline;

	@each $variant, $colorDefault, $colorHover, $colorActive in $variants {
		&--#{$variant} {
			color: $colorDefault;

			&:hover {
				color: $colorHover;
			}
			&:active {
				color: $colorActive;
			}
			&:visited {
				color: $colorDefault;
			}
		}
	}
}
