$densityVariants: (
    'default': 2.5rem,
    'packed': 1.0rem,
    'spacious': 5.0rem
);

$directionVariants: (
    column,
    row,
);

$justifyVariants: (
    normal,
    start,
    center,
    end,
    space-between,
    space-around,
);

$alignVariants: (
    normal,
    start,
    center,
    end,
);

@mixin container-base {}

.container--density {
    @each $variant, $padding in $densityVariants {
        &_#{$variant} {
            @include container-base;
            padding: $padding;
        }
    }
}

.container--is-flex {
    display: flex;
}

@each $direction in $directionVariants {
    .container--is-flex--#{$direction} {
        @extend .container--is-flex;
        flex-direction: $direction;
    }
}

@each $justification in $justifyVariants {
    .container--is-flex--#{$justification} {
        @extend .container--is-flex;
        justify-content: $justification;
    }
}

@each $alignment in $alignVariants {
    .container--is-flex--#{$alignment} {
        @extend .container--is-flex;
        align-items: $alignment;
    }
}