.wrapper {
	background: var(--color-core-primary-300);
	padding: 2.5rem;
	margin: 1rem 0;
	border: 1px solid var(--color-core-primary-400);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 2rem 0;

	* {
		color: var(--color-core-neutral-100);
	}
}
