@use 'styles/abstracts/variables' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	background: $color-tertiary-200;
	text-decoration: none;
	transition: 150ms all ease-in-out;
	overflow: hidden;
	cursor: url('/emojis/saxophone.png');

	h3 {
		color: $color-primary-300;
		font-family: $typography-font-family-headline;
		font-size: $typography-font-size-headline-03;
	}

	p {
		color: $color-neutral-600;
		font-family: $typography-font-family-body;
		font-size: $typography-font-size-body-lead;
	}

	&:hover {
		background: $color-primary-300;

		h3,
		p {
			color: $color-neutral-100;
		}

		.imageWrapper img {
			filter: grayscale(0);
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2.5rem;
}

.imageWrapper {
	height: 400px;
	width: 100%;
	position: relative;
	transition: 150ms all ease-in-out;

	& img {
		object-fit: cover;
		filter: grayscale(1);
	}
}
