@use 'styles/abstracts/variables' as *;

.form-error {
  color: $color-tertiary-500;
  font-family: $typography-font-family-body;
  font-size: $typography-font-size-body-secondary;
  font-weight: bold;
}