.input {
	padding: 1rem 1.5rem;
	font-size: 1rem;
	background: $color-core-tertiary-200;
	border: none;
	color: $color-core-neutral-600;
	font-family: $typography-font-family-body;
	border-radius: 10px;
	border: 1px solid $color-core-tertiary-300;
	transition: all 0.15s ease;
	width: 100%;

	&:focus {
		outline: none;
		box-shadow: 4px 4px 8px rgba(0, 47, 128, 0.05);
		transform: translateY(-2px);
		background: $color-core-neutral-100;

		&::placeholder {
			color: $color-core-neutral-400;
		}
	}

	&::placeholder {
		color: $color-core-neutral-500;
	}
}
