.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background: var(--color-core-tertiary-200);
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	text-align: center;
	padding: 2rem;

	&:hover {
		& > * {
			color: var(--color-core-neutral-100);
		}
		background: var(--color-core-primary-300);
		transform: translateY(-4px);
	}
}
