.statCard {
  display: flex;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.primary {
  background: var(--color-core-neutral-100);
  border-color: var(--color-core-primary-300);

  :global(.stat-label) {
    color: var(--color-core-neutral-500);
  }

  :global(.stat-value) {
    color: var(--color-core-primary-300);
  }
}

.secondary {
  background: var(--color-core-tertiary-100);
  border-color: var(--color-core-tertiary-300);

  :global(.stat-label) {
    color: var(--color-core-tertiary-500);
  }

  :global(.stat-value) {
    color: var(--color-core-neutral-600);
  }
}