.statCard {
  display: flex;
  padding: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.gapSm {
  gap: 0.5rem;
}

.gapMd {
  gap: 1rem;
}

.gapLg {
  gap: 2rem;
}

.gapNone {
  gap: 0;
}

.paddingLg {
  padding: 2rem;
}

.paddingMd {
  padding: 1rem;
}

.paddingSm {
  padding: 0.5rem;
}

.paddingNone {
  padding: 0;
}

.primary {
  background: var(--color-core-neutral-100);
  border-color: var(--color-core-primary-300);

  :global(.stat-label) {
    color: var(--color-core-neutral-500);
  }

  :global(.stat-value) {
    color: var(--color-core-primary-300);
  }
}

.secondary {
  background: var(--color-core-tertiary-100);
  border-color: var(--color-core-tertiary-300);

  :global(.stat-label) {
    color: var(--color-core-tertiary-500);
  }

  :global(.stat-value) {
    color: var(--color-core-neutral-600);
  }
}