.heroWrapper {
	max-width: 100vw;
	height: 50vh;
	position: relative;
	top: -134px;
	margin-bottom: -134px;
}

.heroWrapper span {
	height: 100%;
}

@media (max-width: 1000px) {
	.heroWrapper {
		top: -164px;
		margin-bottom: -164px;
	}
}

@media (max-width: 550px) {
	.heroWrapper {
		top: -130px;
		margin-bottom: -130px;
	}
}

.image {
	object-fit: cover;
}
