.link {
	text-decoration: underline;
	font-size: inherit;
	font-family: inherit;
	transition: all 0.15s;
	display: inline;
}

.linkPrimary {
	color: var(--color-core-primary-300);
}

.linkPrimary:hover {
	color: var(--color-core-primary-500);
}

.linkPrimary:active {
	color: var(--color-core-primary-500);
}

.linkSecondary {
	color: var(--color-core-neutral-600);
}

.linkSecondary:hover {
	color: var(--color-core-neutral-500);
}

.linkSecondary:active {
	color: var(--color-core-neutral-500);
}

.linkTertiary {
	color: var(--color-core-neutral-500);
}

.linkTertiary:hover {
	color: var(--color-core-neutral-600);
}

.linkTertiary:active {
	color: var(--color-core-neutral-600);
}