@import 'styles/_variables.scss';

$variants: (
    'primary': #ff0000,
    'secondary': #000dff,
    'lead': #00ff44,
);

.paragraph {
    font-family: $typography-font-family-body;
    line-height: 1.8;
    color: $color-neutral-600;
    margin: 1rem 0;
    
    @each $type, $color in $variants {
        &--#{$type} {
            color: $color;
        }
    }
}