@import 'styles/_variables';

.item {
	font-family: $typography-font-family-body;
	font-size: 1.125rem;
	line-height: 1.8;
	color: $color-neutral-600;
	margin: 1rem 0;
}

// .ordered {}

// .unordered {}
