.wrapper {
	padding: 2.5rem;
	background: var(--color-core-tertiary-200);
	margin: 2.5rem 0;
	transition: all 0.15s ease-in-out;

	a {
		text-decoration: none;
	}

	&:hover {
		cursor: pointer;
		transform: translateY(-4px);
		background: var(--color-core-primary-300);

		& a > * {
			color: var(--color-core-neutral-100);
		}
	}
}
