.wrapper {
	padding: 2.5rem;
	background: $color-tertiary-200;
	margin: 2.5rem 0;
	transition: all 0.15s ease-in-out;

	a {
		text-decoration: none;
	}

	&:hover {
		cursor: pointer;
		transform: translateY(-4px);
		background: $color-primary-300;

		& a > * {
			color: $color-neutral-100;
		}
	}
}
