/* Base text arrow styles */
.textArrow {
	color: var(--color-core-primary-300);
	font-family: var(--typography-font-family-body);
	font-size: 1rem;
	text-decoration: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	gap: 0.5rem;
	background: none;
	border: 1px solid var(--color-core-primary-300);
	border-radius: 20px;
	padding: 0 1rem;
}

.textArrow:hover {
	cursor: pointer;
}

.textArrow svg {
	transition: all 0.15s ease-in-out;
	position: relative;
	left: 0;
	transform: rotate(-0.25turn);
}

.textArrow svg path {
	fill: var(--color-core-primary-300);
}

.textArrow:hover svg {
	left: 0.25rem;
}

/* Style variants */
.stylePrimary {
	border-color: var(--color-core-primary-300);
	color: var(--color-core-primary-300);
	background: transparent;
}

.stylePrimary svg path {
	fill: var(--color-core-primary-300);
}

.stylePrimary:hover {
	background: var(--color-core-primary-300);
	color: var(--color-core-neutral-100);
}

.stylePrimary:hover svg path {
	fill: var(--color-core-neutral-100);
}

.styleNeutral {
	border-color: var(--color-core-neutral-600);
	color: var(--color-core-neutral-600);
	background: transparent;
}

.styleNeutral svg path {
	fill: var(--color-core-neutral-600);
}

.styleNeutral:hover {
	background: var(--color-core-neutral-600);
	color: var(--color-core-neutral-100);
}

.styleNeutral:hover svg path {
	fill: var(--color-core-neutral-100);
}

.styleDark {
	border-color: var(--color-core-neutral-100);
	color: var(--color-core-neutral-100);
	background: transparent;
}

.styleDark svg path {
	fill: var(--color-core-neutral-100);
}

.styleDark:hover {
	background: var(--color-core-neutral-100);
	color: var(--color-core-neutral-600);
}

.styleDark:hover svg path {
	fill: var(--color-core-neutral-600);
}
