body {
	background: var(--color-core-tertiary-100);
}

.custom-toast {
	background: var(--color-core-neutral-600) !important;
	color: var(--color-core-neutral-100) !important;
	font-family: var(--typography-font-family-body);
	font-size: var(--typography-font-size-body-primary);
}
