*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: var(--typography-font-family-body);
	color: var(--color-core-neutral-600);
}
