.wrapper {
	max-width: 85ch;
	margin: 0 auto;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* Collapse */

.collapseY {
	padding-top: 0;
	padding-bottom: 0;
}

.collapseX {
	padding-left: 0;
	padding-right: 0;
}
