.grid-column-1 {
	grid-column: 1;
}

.grid-column-2 {
	grid-column: 2;
}

.grid-column-3 {
	grid-column: 3;
}

.grid-span-1 {
	grid-column-end: span 1;
}

.grid-span-2 {
	grid-column-end: span 2;
}

.grid-span-3 {
	grid-column-end: span 3;
}
