.gridColumn1 {
	grid-column: 1;
}

.gridColumn2 {
	grid-column: 2;
}

.gridColumn3 {
	grid-column: 3;
}

.gridSpan1 {
	grid-column-end: span 1;
}

.gridSpan2 {
	grid-column-end: span 2;
}

.gridSpan3 {
	grid-column-end: span 3;
}
